<div class="container">
    <div class="section-1">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
        	<polygon fill="#0066ff" points="0,100 100,0 100,100"></polygon>
        </svg>
    </div>
    <div class="section-2">
    	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
        	<polygon fill="#ffcc00" points="100,100 0,100 0,40"></polygon>
        </svg>
    </div>
</div>

<!-- <div>
    <a [routerLink]="[ '/to-do' ]">to do app</a>
</div> -->
